extends ../layout.pug

block content
    include ../includes/profile.pug
    section 
        .content-box 
            .form-box
                h2 Connexion 
                form(action="/auth/signin" method="post") 
                    .input-box 
                        input#email(type="email", name="email" placeholder= "Email")
                    .input-box 
                        input#password(type="password", name="password" placeholder= "Password")
                    .input-box 
                        input(type="submit", value="Se connecter" class="btn btn-primary")
                    .input-box 
                        p Vous n'avez pas de compte ?
                            a(href="/user/signup/form")  S'inscrire
                    if errors
                        ul 
                            each error in errors 
                                li(class= "text-danger")= error