@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$primary-color: #00acee;
$primary-color-dark: #0078a8;
$secondary-color: #dfe6e9;
$secondary-color-dark: #b2bec3;
$text-highlight: #fefefe;
$text-color: #989898bf;
$text-danger: #eb4d4b;
$bg: #eeeeee;

$font-family: "Montserrat", sans-serif;

$box-shadow: rgba(235, 235, 235, 0.1) 0px 10px 15px -3px,
  rgba(236, 236, 236, 0.05) 0px 4px 6px -2px;

$box-shadow-top: rgba(255, 255, 255, 0.1) 0px -10px 15px -3px,
rgba(255, 255, 255, 0.05) 0px -4px 6px -2px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
