doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://kit.fontawesome.com/10da62c121.js" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/js/user/upload-image.js" defer)
        script(src="/js/user/followUnfollowUser.js" defer)
        script(src="/js/tweet/likeTweet.js" defer) 
        script(src="/js/tweet/tweet-actions.js" defer) 
        script(src="/js/tweet/upload-image.js" defer) 
        script(src="/js/topbar-menu.js" defer)
        title Node Twiiter
    body
        include includes/topbar.pug
        block content