.new-comment {

    // width: 100%;
    // padding: 1rem;
    
    @include sm {
        width: 75%;
        border-radius: 15px;
        margin-bottom: 1rem;
        border: 1px solid $text-color;
    }

    @include lg {
        width: 50%;
    }

    @include xl {
        width: 40%;
    }

    .comment-form {
        width: 100%;
        padding: 1rem;
    
        @include flex($align: flex-start);

        @include xl {
            width: 100%;
        }
    
        &-avatar{
            width: 20%;
    
            img {
                border-radius: 50%;
            }
        }
    
        &-form {
            width: 80%;
            

            p {
                color: $text-color;

                span {
                    color: $primary-color;
                }
            }
    
            .comment-form-body {
                .comment-form-item {
    
                    width: 100%;
    
                    textarea {
                        width: 100%;
                        resize: none;
                        margin-bottom: 1rem;
                        border: 1px solid #fefefe38;
                        height: 5rem;
                        padding: .5rem;
                        background-color: transparent;
                        color: #fefefe;
                        outline: none;
                        overflow: auto;
                        border-style: none;
                      }
                }
            }
        }
    }
}