.tweets-user-list {
    width: 100%;
    margin-bottom: 5rem;
    @include flex($direction: column);

    @include xl {
        width: 100%;
    }
}

.user-content {
    border-top: 1px solid #fefefe;
    
    @include flex;
    
    @include xl {
        width: 100%;
    }
    .user-profile {
        width: 100%;
        margin-top: 5rem;
        background-color: black;
        position: relative;

        @include xl {
            width: 50%;
        }

        &-bg {
            height: 7rem;
            background-image: url("https://images.unsplash.com/photo-1678911020402-650375a7776a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
            background-position: center;
        }

        &-img {
            padding-left: 1rem;
            
            cursor: pointer;
            
            img {
                margin-top: -3rem;
                width: 5rem;
                height: 5rem;
                border: 2px solid black;
                border-radius: 50%;
            }

            i {
                font-size: 1.2rem;
                color: $primary-color;
                background-color: rgba($color: #fff, $alpha: 0.7);
                padding: .5rem;
                border-radius: 50%;
                position: absolute;
                top: 35%;
                left: 16%;

                @include sm {
                    left: 9%;
                }

                @include md {
                    left: 9%;
                }

                @include lg {
                    left: 7%;
                }
            }
        }

        &-info {
            padding: 1rem;
            p {
                font-size: 2rem;
                font-weight: 600;
                color: white;
            }

            h3 {
                color: $text-color;
            }

            span {
                color: $text-color;

                i {
                    margin-top: 1rem;
                }
            }
        }

        &-actions {
            margin: 2rem;
        }

        &-data {
            padding-bottom: 2rem;
            @include flex($justify:space-around);

            p {
                color: $text-color;
                
                span {
                    color: white;
                    margin-right: 0.5rem;
                }
            }

        }
    }

}

.tweets-user-container {
    margin-top: 2rem;
}